// Mixins
@use '../../styles/_partials/fonts' as *;
@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables' as *;

.form {
    display: flex;
    @include padding;
    @include section-header;
    padding-top: 0;
    @include media-tablet {
        align-items: flex-end;
        padding-top: 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        width: 90%;
    }
    &__profile-container {
        display: flex;
        padding-top: 36px;
        @include media-tablet {
            padding-top: 0;
        }
    }
    &__profile {
        background-color: $BF-Mercury;
        @include profile-tn;
            width: 36px;
    }
    textarea::placeholder {
        font-family: $Primary-Font;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        @include media-tablet {
            font-size: 14px;
            line-height: 22px;
        }
    }

    textarea {
        display: flex;
        justify-content: flex-end;
        @include form-field;
        &:focus {
            outline: none;
            border-color: $BF-Blue;
        }

        @include media-tablet {
            height: 1em;
            flex-grow: 3;
        }
    }
    button {
        @include labels-buttons;
        @include CTA-button;
        background-image: url(assets/icons/add_comment.svg);    
    }

    &__input {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @include media-tablet {
            flex-direction: row;
            column-gap: 20px;
        }
    }
}