// Mixins
@use '../../../styles/_partials/fonts' as *;
@use '../../../styles/_partials/mixins' as *;
@use '../../../styles/_partials/variables' as *;

.comment {
    @include subheader;
    @include body-copy;
    &__container {
        display: flex;
        @include padding-top-bottom;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    &__profile-placeholder {
        background-color: $BF-Mercury;
        @include profile-tn;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        width: 90%;
    }
    &__attributes {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
    }
    &__text {
        @include body-copy;
    }
    &__date {
        color: $Silver;
    }
}