@use './variables' as *;
@use './fonts' as *;

// Media Query Mixins
@mixin media-tablet {
    @media (min-width: $bp-tablet) {
        @content;
    }
}

@mixin media-desktop {
    @media (min-width: $bp-desktop) {
        @content;
    }
}

// Text Styles
@mixin page-header {
    h1 {
        font-family: $Primary-Font;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        @include media-tablet {
            font-size: 33px;
            line-height: 44px;
        }
    }
}

@mixin section-header {
    h2 {
        font-family: $Primary-Font;
        color: $BF-Mercury;
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        text-transform:uppercase;
        margin: 0;
    }
}

@mixin subheader {
    h3 {
        font-family: $Primary-Font;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        margin: 0;
        @include media-tablet {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@mixin body-copy {
    p {
        font-family: $Primary-Font;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        @include media-tablet {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@mixin labels-buttons {
    font-family: $Primary-Font;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    font-weight: 400;
    @include media-tablet {
        font-size: 12px;
    }
}

// Form Fields

// Padding
@mixin padding {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
    @include media-tablet {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 36px;
        padding-bottom: 24px;
    }
}
@mixin padding-top-bottom {
    padding-top: 24px;
    padding-bottom: 16px;
    @include media-tablet {
        padding-top: 36px;
        padding-bottom: 24px;
    }
}

// Dividers
@mixin divider {
    hr {
        width: 100%;
        border-top: solid 1px;
        border-color: $BF-Mercury;
    }
}

// Thumbnails
@mixin profile-tn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    @include media-tablet {
        width: 40px;
        height: 40px;
    }
}

// Call to Actions
@mixin CTA-button {
    @include labels-buttons;
    background-color: $BF-Blue;
    color: $BF-White;
    height: 40px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    border-style: none;
    border-radius: 4px;
    :hover {
        background-color: $BF-DarkBlue;
        transition-duration: 0.4s;
    }
    @include media-tablet {
        width: 150px;
    }
}