// Desktop & Tablet BreakPoints
$bp-desktop: 1280px;
$bp-tablet: 768px;

// Colors
// Primary
$BF-Black: #323232;
$BF-Blue: #0095ff;
$Silver: #AFAFAF;
$BF-White: #FFFF;
//Secondary
$BF-DarkBlack: #000;
$BF-DarkBlue: #0065AD;
$BF-Mercury: #E1E1E1;
$Alabaster: #FAFAFA;