@use '../../styles/_partials/fonts' as *;
@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables' as *;

video {
    aspect-ratio: 16 / 9;
    background-color: $BF-DarkBlack;
    object-fit: contain;
    width: 100%;
}