@use './video/video.scss';
@use '../../styles/_partials/fonts' as *;
@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables' as *;

.videos {
    @include section-header;
    @include subheader;
    @include body-copy;
    @include padding-left-right;
    padding-bottom: 36px;
    h2 {
        @include padding-top-bottom;
        padding-bottom: 0;
    }

    @include media-tablet {
        width: 40%;
    }
}