@use '../../styles/_partials/fonts' as *;
@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables' as *;

#searchbar {
    margin-bottom: 16px;
    width: 75vw;
    @include form-field;
    background-image: url(assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-left: 42px;
    outline: none;
    :active {
        border-color: $Silver;
    }
    @include media-tablet {
        width: 40vw;
        margin-left: 16px;
        margin-right: 16px;
    }
    @include media-desktop {
        width: 20vw;
    }
}