@use '../../styles/_partials/fonts' as *;
@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables' as *;

.description {
    @include padding;
    @include divider;
    @include page-header;
    @include section-header;
    @include subheader;
    @include body-copy;
    display: flex;
    flex-direction: column;
    @include media-desktop {
        padding-right: 0;
    }
    h1 {
        margin-top: 0;
    }
    &__tablet-bp {
        @include padding-top-bottom;
        display: flex;
        justify-content: flex-start;
        column-gap: 20%;
        @include media-tablet {
            display: flex;
            justify-content: space-between;
            // column-gap: 0;
            }
    }
    &__attributes {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 20%;
        color: $Silver;
        @include media-tablet {
            display: flex;
            flex-direction: row;
        }
    }
    &__icons {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 20%;
        width: max-content;
        @include media-tablet {
            display: flex;
            flex-direction: row;
        }
    }
    &__likes, &__views {
        display: flex;
        column-gap: 12px;
        margin: 0;
        p {
            color: $Silver;
        }
    }
    &__date {
        font-weight: normal;
    }
    &__text {
        @include padding-top-bottom;
        @include media-desktop {
            padding-right: 24px;
        }
    }
    &__bolded {
        margin: 0;
        color: black;
    }
 }