@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.description {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .description {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
.description hr {
  width: 100%;
  border-top: solid 1px;
  border-color: #E1E1E1;
}
.description h1 {
  font-family: "Avenir", "Montserrat";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .description h1 {
    font-size: 33px;
    line-height: 44px;
  }
}
.description h2 {
  font-family: "Avenir", "Montserrat";
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.description h3 {
  font-family: "Avenir", "Montserrat";
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  .description h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.description p {
  font-family: "Avenir", "Montserrat";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .description p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  .description {
    padding-right: 0;
  }
}
.description h1 {
  margin-top: 0;
}
.description__tablet-bp {
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
@media (min-width: 768px) {
  .description__tablet-bp {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .description__tablet-bp {
    display: flex;
    justify-content: space-between;
  }
}
.description__attributes {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20%;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .description__attributes {
    display: flex;
    flex-direction: row;
  }
}
.description__icons {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20%;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 768px) {
  .description__icons {
    display: flex;
    flex-direction: row;
  }
}
.description__likes, .description__views {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin: 0;
}
.description__likes p, .description__views p {
  color: #AFAFAF;
}
.description__date {
  font-weight: normal;
}
.description__text {
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .description__text {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .description__text {
    padding-right: 24px;
  }
}
.description__bolded {
  margin: 0;
  color: black;
}/*# sourceMappingURL=description.css.map */