@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
#searchbar {
  margin-bottom: 16px;
  width: 75vw;
  color: #AFAFAF;
  background-color: #FAFAFA;
  border-color: #AFAFAF;
  border-radius: 4px;
  border-style: none;
  border: #AFAFAF solid 1px;
  padding: 12px;
  background-image: url(assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  padding-left: 42px;
  outline: none;
}

#searchbar :active {
  border-color: #AFAFAF;
}

@media (min-width: 768px) {
  #searchbar {
    width: 40vw;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (min-width: 1280px) {
  #searchbar {
    width: 20vw;
  }
} 
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.upload {
  font-family: "Avenir", "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Avenir", "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  background-color: #0095ff;
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  border-style: none;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-image: url(assets/icons/upload.svg);
}

@media (min-width: 768px) {
  .upload {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .upload {
    font-size: 12px;
  }
}
.upload :hover {
  background-color: #0065AD;
  transition-duration: 0.4s;
}

@media (min-width: 768px) {
  .upload {
    width: 150px;
  }
} 
.header {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 24px;
  }
}
.header__logo {
  display: inline-block;
  height: auto;
}
@media (min-width: 768px) {
  .header__logo {
    order: -1;
  }
}
.header__mobile-bp {
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .header__mobile-bp {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .header__mobile-bp {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .header #searchbar {
    order: 0;
  }
}
.header__profile {
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .header__profile {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .header__profile {
    order: 2;
    margin-left: 16px;
  }
}
@media (min-width: 768px) {
  .header .upload {
    display: inline-block;
    order: 1;
  }
}

@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
video {
  aspect-ratio: 16/9;
  background-color: #000;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
} 
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.description {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .description {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
.description hr {
  width: 100%;
  border-top: solid 1px;
  border-color: #E1E1E1;
}

.description h1 {
  font-family: "Avenir", "Montserrat";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .description h1 {
    font-size: 33px;
    line-height: 44px;
  }
}
.description h2 {
  font-family: "Avenir", "Montserrat";
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.description h3 {
  font-family: "Avenir", "Montserrat";
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 768px) {
  .description h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.description p {
  font-family: "Avenir", "Montserrat";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .description p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  .description {
    padding-right: 0;
  }
}
.description h1 {
  margin-top: 0;
}

.description__tablet-bp {
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 20%;
  column-gap: 20%;
}

@media (min-width: 768px) {
  .description__tablet-bp {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .description__tablet-bp {
    display: flex;
    justify-content: space-between;
  }
}
.description__attributes {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20%;
  color: #AFAFAF;
}

@media (min-width: 768px) {
  .description__attributes {
    display: flex;
    flex-direction: row;
  }
}
.description__icons {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20%;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 768px) {
  .description__icons {
    display: flex;
    flex-direction: row;
  }
}
.description__likes, .description__views {
  display: flex;
  -moz-column-gap: 12px;
  column-gap: 12px;
  margin: 0;
}

.description__likes p, .description__views p {
  color: #AFAFAF;
}

.description__date {
  font-weight: normal;
}

.description__text {
  padding-top: 24px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .description__text {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .description__text {
    padding-right: 24px;
  }
}
.description__bolded {
  margin: 0;
  color: black;
} 
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.form {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-top: 0;
}

@media (min-width: 768px) {
  .form {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
.form h2 {
  font-family: "Avenir", "Montserrat";
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .form {
    align-items: flex-end;
    padding-top: 0;
  }
}
.form__container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  width: 90%;
}

.form__profile-container {
  display: flex;
  padding-top: 36px;
}

@media (min-width: 768px) {
  .form__profile-container {
    padding-top: 0;
  }
}
.form__profile {
  background-color: #E1E1E1;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 36px;
}

@media (min-width: 768px) {
  .form__profile {
    width: 40px;
    height: 40px;
  }
}
.form textarea::-moz-placeholder {
  font-family: "Avenir", "Montserrat";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.form textarea::placeholder {
  font-family: "Avenir", "Montserrat";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .form textarea::-moz-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .form textarea::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}
.form textarea {
  display: flex;
  justify-content: flex-end;
  color: #AFAFAF;
  background-color: #FAFAFA;
  border-color: #AFAFAF;
  border-radius: 4px;
  border-style: none;
  border: #AFAFAF solid 1px;
  padding: 12px;
}

.form textarea:focus {
  outline: none;
  border-color: #0095ff;
}

@media (min-width: 768px) {
  .form textarea {
    height: 1em;
    flex-grow: 3;
  }
}
.form button {
  font-family: "Avenir", "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Avenir", "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  background-color: #0095ff;
  color: white;
  height: 40px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  border-style: none;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 16px 50%;
  background-image: url(assets/icons/add_comment.svg);
}

@media (min-width: 768px) {
  .form button {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .form button {
    font-size: 12px;
  }
}
.form button :hover {
  background-color: #0065AD;
  transition-duration: 0.4s;
}

@media (min-width: 768px) {
  .form button {
    width: 150px;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media (min-width: 768px) {
  .form__input {
    flex-direction: row;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
} 
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.comments {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .comments {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.comments hr {
  width: 100%;
  border-top: solid 1px;
  border-color: #E1E1E1;
}

@media (min-width: 1280px) {
  .comments {
    padding-right: 0;
  }
} 
.video {
  display: flex;
  padding-top: 16px;
  padding-bottom: 0;
}

.video__thumbnail {
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 40%;
  height: 20%;
  border-radius: 4px;
}

.video__info {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video__info h3 {
  padding-bottom: 10px;
}

@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format(otf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTProBold.ttf") format(ttf);
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Alternative/AvenirNextLTPro.ttf") format(ttf);
}
.videos {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
}

.videos h2 {
  font-family: "Avenir", "Montserrat";
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.videos h3 {
  font-family: "Avenir", "Montserrat";
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 768px) {
  .videos h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.videos p {
  font-family: "Avenir", "Montserrat";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .videos p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .videos {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.videos h2 {
  padding-top: 24px;
  padding-bottom: 16px;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .videos h2 {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .videos {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .videos {
    border-left: #E1E1E1 solid 1px;
  }
} 
@media (min-width: 1280px) {
  .body__container {
    display: flex;
  }
}

p {
  margin: 0;
}/*# sourceMappingURL=App.css.map */